<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="container text-center">
    <div class="display-4">Your password is<div>
            <h1 class="alert alert-success" style="margin-top:20px;">{{ password }}</h1>
            <a href="{%  url 'home' %}" class="btn btn-dark">Home</a>
            <button class="btn btn-warning">Copy</button>
            <button onClick="window.location.reload()" class="btn btn-success">Generate</button>
        </div>